body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
}
p{
	text-indent: 1rem;
}

.with-bg-image{
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
}
.bg-contain{
  background-size: contain;
}
.bg-cover{
  background-size: cover;
}
.blur{
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
#hero{
	height: 133vh;
	background-image: url('../img/hero.jpg');
}
#hero2{
	height: 100vh;
	background-image: url('../img/hero.jpg');
}
#statistics{
	background-image: url('../img/hero.jpg');
	background-position: center 75%;
}
.wrapper{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.33),
      rgba(0, 0, 0, 0.33)
    );
}
.navbar-brand, .title{
	font-family: 'Philosopher', sans-serif;
	text-decoration: italic;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.9);
}
.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(255,255,255,1);
}
.relative{
	position:relative;
}
.bottom-right{
	position:absolute;
	bottom:1rem;
	right:1rem;
	padding-top:1rem;
	padding-left:1rem;
}
.center{
	position:absolute;
	bottom:50%;
	right:50%;
}
.offer{
	font-size: 2em;
}
.offer-description{
	font-size: 1em;
}
.bg-custom{
	-webkit-backdrop-filter: blur(5px);
  	backdrop-filter: blur(5px);
}
.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
}
.navbar-brand {
  -webkit-transition: font-size 0.3s;
  -moz-transition: font-size 0.3s;
  transition: font-size 0.3s;
}
.navbar-dark .nav-link{
	font-weight:bold;
}
.btn, 
.card,
.permanent-shadow{
	transition: all 0.2s linear 0s;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.card{
	border: none;
}
/*.btn{
    box-shadow: rgba(0, 0, 0, 0.419608) 0px 14px 26px -12px, rgba(0, 0, 0, 0.117647) 0px 4px 23px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.419608) 0px 14px 26px -12px, rgba(0, 0, 0, 0.117647) 0px 4px 23px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.419608) 0px 14px 26px -12px, rgba(0, 0, 0, 0.117647) 0px 4px 23px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
    outline: none;
}*/

.text-shadow{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.hero-content{
	text-align: center;
}
.fa-stack{
	transition: all 0.3s ease;
}
.bg-blue{
	background-color:#2196f3;
}
.fa-stack{
	font-size: 4.25em;
}
.photo{
	border-radius: 0.25rem;
	position:relative;
}
.p1{
	margin-left: 40%;
	margin-top: 5%;
	z-index:11;
}
.p2{
}
.p3{
	margin-left: -50%;
	margin-top: 55%;
}
@media (min-width: 768px) {
	.offer{
		font-size: 3.5em;
	}
	.offer-description{
		font-size: 1.4em;
	}
	.bottom-right{
		width:58%;
		right:1rem;
		bottom:3rem;
	}
	.bg-custom{
		-webkit-backdrop-filter: none;
  		backdrop-filter: none;
	}
	.navbar-brand{
		font-size: 1.5em;
	}
	.hero-content{
		text-align: right;
	}
}
@media(min-width:992px) {
  	
}
.navbar-shrink {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.navbar-shrink .navbar-brand {
  font-size: 1.25em;
}
.navbar-shirk .nav-link{
	font-weight:normal;
}